<div class="homepage container">
<h1>Welcome to Lightning Talker</h1>
<p>This is a demo app made to showcase some of my skills in creating an application. Please refer to <%= link_to "this repo", "https://github.com/matt16749/lightningtalker" %> to look through my code. </p>
</div>